/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem $default-font-size;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  }
}

/* Hero Style */
.cta-btn--hero {
  @include supportColorForIE11();
  border: 2px solid transparent;
  border-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  border-image-slice: 1;
  @include supportIE11() {
    color: $secondary-color !important;
    &:hover {
      color: $white-color !important;
    }
  }

  @include respond(phone) {
    background-image: none;
    border: 2px solid $secondary-color;
    -webkit-text-fill-color: $secondary-color;
  }

  &::after {
    background-image: linear-gradient(
      135deg,
      $primary-color 0%,
      $secondary-color 100%
    );

    @include respond(phone) {
      background-image: none;
    }
  }

  &:hover {
    -webkit-text-fill-color: $white-color;
    text-decoration: none;

    @include respond(phone) {
      -webkit-text-fill-color: $secondary-color;
    }

    &::after {
      width: 100%;
    }
  }
}

/* Resume Style */
.cta-btn--resume {
  color: $white-color;
  border: 2px solid $white-color;

  &::after {
    background: $white-color;
  }

  &:hover {
    color: $secondary-color;
    text-decoration: none;

    &::after {
      width: 100%;
    }
  }
}

/* Arrow Button */
.up i {
  color: #272727;
}

/* Emoji List-Style */
.cta-btn--emoji {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cta-btn--emoji li {
  text-indent: -0.75rem;
}

.cta-btn--emoji li::before {
  content: '🔭 ';
  font-size:large;
  display: inline;
}
.cta-btn--emoji li:nth-child(2)::before {
  content: '🌱 ';
}
.cta-btn--emoji li:nth-child(3)::before {
  content: '👯 ';
}
.cta-btn--emoji li:nth-child(4)::before {
  content: '💬  ';
}
.cta-btn--emoji li:nth-child(5)::before {
  content: '🤔 ';
}
.cta-btn--emoji li:nth-child(6)::before {
  content: '📫 ';
}
.cta-btn--emoji li:nth-child(7)::before {
  content: '😄 ';
}
.cta-btn--emoji li:nth-child(8)::before {
  content: '🎭 ';
}

.cta-btn--reveal--pronouns {
  color: $white-color;
  border: 2px solid $white-color;

  &::after {
    background: $white-color;
  }
  &::before {
    content: "Pronouns:"
  }

  &:hover {
    color: $secondary-color;
    text-decoration: none;
    span {
      display: none
    }
    &::before {
     content: "Pronouns: He/Him"
    }

    &::after {
      width: 100%;
    }
  }
  

}

.cta-btn--reveal--fun-fact {
  color: $white-color;
  border: 2px solid $white-color;

  &::after {
    background: $white-color;
  }
  &::before {
    content: "Fun Fact:"
  }

  &:hover {
    color: $secondary-color;
    text-decoration: none;
    span {
      display: none
    }
    &::before {
     content: "Fun fact: I was a child actor in a variety of plays with the Charleston Stage Company."
    }

    &::after {
      width: 100%;
    }
  }
}

.cta-btn--reveal--ask-me-about {
  color: $white-color;
  border: 2px solid $white-color;

  &::after {
    background: $white-color;
  }
  &::before {
    content: "Ask me about: "
  }

  &:hover {
    color: $secondary-color;
    text-decoration: none;
    span {
      display: none
    }
    &::before {
     content: "Ask me about: My Past Projects!"
    }

    &::after {
      width: 100%;
    }
  }
}

.cta-btn--reveal--working-on {
  color: $white-color;
  border: 2px solid $white-color;

  &::after {
    background: $white-color;
  }
  &::before {
    content: "I'm currently working on..."
  }

  &:hover {
    color: $secondary-color;
    text-decoration: none;
    span {
      display: none
    }
    &::before {
     content: "I'm currently working on the Tensorflow Developer Certificate"
    }

    &::after {
      width: 100%;
    }
  }
}


.cta-btn--reveal--currently-learning {
  color: $white-color;
  border: 2px solid $white-color;

  &::after {
    background: $white-color;
  }
  &::before {
    content: "I'm currently learning..."
  }

  &:hover {
    color: $secondary-color;
    text-decoration: none;
    span {
      display: none
    }
    &::before {
     content: "I’m currently learning Tensorflow!"
    }

    &::after {
      width: 100%;
    }
  }
}

.cta-btn--reveal--collaborate-on {
  color: $white-color;
  border: 2px solid $white-color;

  &::after {
    background: $white-color;
  }
  &::before {
    content: "I’m looking to collaborate on..."
  }

  &:hover {
    color: $secondary-color;
    text-decoration: none;
    span {
      display: none
    }
    &::before {
     content: "I’m looking to collaborate on the TensorFlow Developer Certificate in 2022: Zero to Mastery!"
    }

    &::after {
      width: 100%;
    }
  }
}

.cta-btn--reveal--help-with {
  color: $white-color;
  border: 2px solid $white-color;

  &::after {
    background: $white-color;
  }
  &::before {
    content: "I'm looking for help with.."
  }

  &:hover {
    color: $secondary-color;
    text-decoration: none;
    span {
      display: none
    }
    &::before {
     content: "I'm looking for help with sponsorships!"
    }

    &::after {
      width: 100%;
    }
  }
}
